---
layout: page_with_header
title: XP的博客
cover: false
about: 'about.html'
---

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta">
                <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
                {{!post.tags | join: ', ' | prefix: "tags: "}}
            </span>
            <h2 class="post-title"><a href="{{ post.url}}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">

            {% if post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first | split:'<!--excerpt-->' | last }}
                <!-- <p class="continue"><a href="{{ post.url }}">Continue Reading...</a></p> -->
            {% else %}
                {{post.excerpt}}
            {% endif %}

        </section>
        <a class="continue" href="{{ post.url }}"> continue reading>></a>
    </article>

    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
    </nav>

