---
layout: default
---
<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif%}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo}}" alt="Blog Logo" />
                </a>
            {% endif %}
            <h1 class="blog-title">{{ site.name}}</h1>
            <h2 class="blog-description">
                {% if page.about %} <a href='{{site.baseurl}}{{ page.about }}'> About me </a> {% endif %}
            </h2>
        </div>
    </div>
</header>

<div class="site-menu">
    <span class="site-menu-item" > <a href='{{site.baseurl}}'> 首页 </a> </span>
    <span class="site-menu-item" > <a href='{{site.baseurl}}archive.html'> 文章列表 </a> </span>
    <span class="site-menu-item" > <a href='{{site.baseurl}}about.html'> 关于我 </a> </span>
</div>

<main class="content" role="main">
    {{ content }}
</main>
