---
layout: default
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
            <span class="blog-logo">
                <a href="{{site.baseurl}}/">
                    {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                    {% else %}
                    <span class="blog-title">Home</span>{%endif%}</a>
            </span>
            <span class="secondary">
                <span class="light-text">
                    of {{ site.name }}
                </span>
            </span>

            <span class="secondary float-right">
                <a href="http://weibo.com/drdrxp">drdrxp</a>
                <span class="light-text">@weibo.com</span>
            </span>
        </header>

        <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories %}
                on
                {% for category in page.categories %}
                    {{category}}
                {% endfor %}
            {% endif %}
        </span>

        <h1 class="post-title">{{ page.title }}</h1>

        <div style="overflow: hidden;">
            <iframe style="margin:0; float:right;" width="86" height="16" scrolling="no" frameborder="0"
                src="http://hits.sinajs.cn/A1/weiboshare.html?url={{ site.url }}{{ page.url }}&amp;type=6&amp;{% if site.weibo_uid %}ralateUid={{ site.weibo_uid }}&amp;{% endif %}title=xp最近才发现的：{{page.title}}&amp;language=zh_cn" allowtransparency="true">
            </iframe>
        </div>

        <section class="post-content">
            {{content}}
        </section>

        <section class="archive">
        	<h5>Archive</h5>
    		<ul>
    			{% for post in site.posts %}
    				<li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% endfor %}	
    		</ul>
        </section>

        <footer class="post-footer">
            {% include site-author.html %}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="//twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
                <span>
                    <iframe style="margin:0;" width="86" height="16" scrolling="no" frameborder="0"
                        src="http://hits.sinajs.cn/A1/weiboshare.html?url={{ site.url }}{{ page.url }}&amp;type=6&amp;{% if site.weibo_uid %}ralateUid={{ site.weibo_uid }}&amp;{% endif %}title=xp最近才发现的：{{page.title}}&amp;language=zh_cn" allowtransparency="true">
                    </iframe>
                </span>
            </section>

            <section class="disqus">
            	<div id="disqus_thread"></div>
            	<script type="text/javascript">

                    var disqus_shortname = 'drdrxpblog';
            	    (function() {
            	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            	    })();
            	</script>
            	<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            	<a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>

        </footer>

    </article>

</main>
